.gradient-background {
  background: linear-gradient(45deg, #F8F7BA, #F5D2D2, #555879);
  height: 100%;
  width:100%;
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
  padding: 3rem 0;
  margin: 0;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.akudia{
      display: flex;
      gap: 20px;
    }

body {
  margin: 0;
  overflow-x: hidden;
}

.foto1{
margin-top: 30px;
 border-radius: 20px;
 border-top-right-radius: 350px;
 border-bottom-left-radius: 10px;
 opacity: 0;
 transform: translateX(-50px);
  animation: fadeLeft 3s ease forwards;
}
/* Keyframes */
@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.atas{ 
  margin-top: 50px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  color:#68497a;
  text-shadow: 0 0 15px rgb(255, 255, 255);

  font-weight: bold;
  font-size: 30px;
   opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
  animation-delay: 1s;

}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.lead{
    margin-top: 5px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    color:black
}
b{
  font-weight: bold;
}

.blog{
  border-radius: 30px;
  margin-bottom: 20%;
}
.Bagian1 h1{ 
  margin-top: 50px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-family: #38461c;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3%;
  letter-spacing: 3px;
}

.satu{
  display: flex;
  gap: 20px; /* jarak antar logo */


}

.nav-link{
  color:white;
}

    .nav-link:hover{
    
      transform: scale(1.05); /* Membesarkan sedikit saat hover */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Bayangan lebih tajam */
      border-radius: 8px;

    }

    .transisi:hover{
      transform: scale(1.05); /* Membesarkan sedikit saat hover */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Bayangan lebih tajam */
      border-radius: 8px;

    }
